/* Media query for screen sizes of 425px or smaller */
@media (min-width: 768px) {
    .login-form {
      width: 40%; /* Set the container width to 50% */
      max-width: 100%; /* Optional: Set a maximum width to ensure responsiveness */

    }
    
  }

/* Default image styles */
#responsive-image {
    max-width: 100%; /* Make sure the image doesn't exceed the container's width */
    height: auto; /* Maintain the aspect ratio */
}

/* Media queries for different screen sizes */
@media (min-width:425px) and (max-width: 768px)   {
    #responsive-image {
        width: 70%; /* Adjust the width for smaller screens */
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    #responsive-image {
        width: 60%; /* Adjust the width for medium-sized screens */
    }
}

@media (min-width: 1025px) {
    #responsive-image {
        width: 40%; /* Adjust the width for larger screens */
    }
}
